<h3>Create track</h3>
<div style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" class="form-control" id="name" required [(ngModel)]="track.Name" name="name">
        </div>    
        
        <div class="form-group">
            <label for="composer">Compositor</label>
            <input type="text" class="form-control" id="composer" required [(ngModel)]="track.Composer" name="composer">
        </div>    

        <div class="form-group">
            <label for="genre">Genero</label>
            <select class="form-control" id="genre" [(ngModel)]="selectedGenreId" name="genre">
              <option *ngFor="let genre of genres" [value]="genre.Id">{{genre.Name}}</option>              
            </select>            
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
