<h3>Criar album</h3>
<div style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" class="form-control" id="name" required [(ngModel)]="album.Name" name="name">
        </div>        

        <div class="form-group">
            <label for="artist">Artist</label>
            <select class="form-control" id="artist" [(ngModel)]="selectedArtistId" name="artist">
              <option *ngFor="let artist of artists" [value]="artist.Id">{{artist.Name}}</option>              
            </select>            
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
