<h3>Criar Artista</h3>
<div style="width: 400px;">
    <div *ngIf="message" class="row">        
        <span *ngIf="message.success" class="alert alert-success">{{message.text}}</span>
        <span *ngIf="!message.success" class="alert alert-danger">{{message.text}}</span>
    </div>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" class="form-control" id="name" required [(ngModel)]="artist.Name" name="name">
        </div>                

        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
