<div class="panel-body">
    <div class="row" style="padding-top: 15px">
        <div class="col-sm-2">
            <h2><b>{{model}}</b></h2>
        </div>
        <div class="col-sm-3">
            <a href="{{url}}" class="btn btn-success">Adicionar novo {{model}}</a>                
        </div>
    </div>    
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>  
                <th>Detalhe</th>                
                <th>Deletar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let track of tracks">
                <td>{{track.Id}}</td>
                <td>{{track.Name}}</td>   
                <td><a href="track/{{track.Id}}">Ver detalhes</a></td>                
                <td><button (click)="deleteTrack(track.Id)">Delete</button></td>
            </tr>
        </tbody>
    </table>    
</div>